In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import time

In [31]:
df=pd.read_csv("F:\Work\diease detection\Bangladesh -anam medical college.csv")

In [32]:
df=df.replace('?',np.nan)

In [33]:
data=df[['sg','bgr','sc','hemo','pcv','rbcc','rbc','htn',
         'dm','Label']].copy()

In [5]:
#df1=df.drop(columns=['id','age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','pcv','wbcc','rbcc'])

In [34]:
data

        sg  bgr   sc   hemo    pcv   rbcc  rbc  htn  dm   Label
0     1.02  110  3.6  11.95  35.45  4.755    0    0   0     ckd
1     1.01  133  3.6  11.95  35.45  4.755    0    0   0     ckd
2     1.01  110  3.6   9.35  31.55  4.755    1    0   0     ckd
3     1.01  133  3.6  14.55  43.25  4.755    0    0   0     ckd
4    1.016  175  3.6  14.55  39.35  5.345    0    0   1     ckd
..     ...  ...  ...    ...    ...    ...  ...  ...  ..     ...
195   1.02  175  3.6   9.35  31.55  4.755    0    1   1     ckd
196   1.02  133  3.6   8.05  23.75  4.755    0    0   1     ckd
197    NaN  110  3.6  15.85  39.35  6.525    0    0   0  notckd
198    NaN  133  3.6  14.55  47.15  4.755    0    0   0  notckd
199   1.01  133  3.6  13.25  39.35  4.165    0    1   1     ckd

[200 rows x 10 columns]

In [35]:
df1=data.drop(columns=['rbc','htn','dm','Label'])

In [36]:
df1

        sg  bgr   sc   hemo    pcv   rbcc
0     1.02  110  3.6  11.95  35.45  4.755
1     1.01  133  3.6  11.95  35.45  4.755
2     1.01  110  3.6   9.35  31.55  4.755
3     1.01  133  3.6  14.55  43.25  4.755
4    1.016  175  3.6  14.55  39.35  5.345
..     ...  ...  ...    ...    ...    ...
195   1.02  175  3.6   9.35  31.55  4.755
196   1.02  133  3.6   8.05  23.75  4.755
197    NaN  110  3.6  15.85  39.35  6.525
198    NaN  133  3.6  14.55  47.15  4.755
199   1.01  133  3.6  13.25  39.35  4.165

[200 rows x 6 columns]

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [38]:
lr=LinearRegression()
imp=IterativeImputer(estimator=lr,verbose=2,max_iter=100, tol=1e-10, imputation_order='roman')

In [39]:
df2=imp.fit_transform(df1)

[IterativeImputer] Completing matrix with shape (200, 6)
[IterativeImputer] Ending imputation round 1/100, elapsed time 0.02
[IterativeImputer] Change: 17.157029390169924, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 2/100, elapsed time 0.04
[IterativeImputer] Change: 2.7050332230416316, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 3/100, elapsed time 0.05
[IterativeImputer] Change: 1.4368839817627495, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 4/100, elapsed time 0.07
[IterativeImputer] Change: 0.7580854705238129, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 5/100, elapsed time 0.10
[IterativeImputer] Change: 0.40000743861901267, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 6/100, elapsed time 0.12
[IterativeImputer] Change: 0.21112040453876824, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 7/100, elapsed time 0.13
[IterativeImputer] Change: 0.11144329554165866, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 8/100, elapsed time 0.14
[IterativeImputer] Change: 0.058831528094442476, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 9/100, elapsed time 0.15
[IterativeImputer] Change: 0.03105871255490089, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 10/100, elapsed time 0.17
[IterativeImputer] Change: 0.016397056034521906, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 11/100, elapsed time 0.18
[IterativeImputer] Change: 0.008656716710112367, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 12/100, elapsed time 0.20
[IterativeImputer] Change: 0.004570284171169892, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 13/100, elapsed time 0.21
[IterativeImputer] Change: 0.0024128743635625227, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 14/100, elapsed time 0.24
[IterativeImputer] Change: 0.0012738758477777168, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 15/100, elapsed time 0.24
[IterativeImputer] Change: 0.0006725430098641905, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 16/100, elapsed time 0.26
[IterativeImputer] Change: 0.0003550695388170322, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 17/100, elapsed time 0.27
[IterativeImputer] Change: 0.0001874593346995468, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 18/100, elapsed time 0.28
[IterativeImputer] Change: 9.896940990250513e-05, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 19/100, elapsed time 0.29
[IterativeImputer] Change: 5.225106148332159e-05, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 20/100, elapsed time 0.30
[IterativeImputer] Change: 2.758604694208522e-05, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 21/100, elapsed time 0.31
[IterativeImputer] Change: 1.456411248601519e-05, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 22/100, elapsed time 0.33
[IterativeImputer] Change: 7.689158030510512e-06, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 23/100, elapsed time 0.33
[IterativeImputer] Change: 4.0595111474583945e-06, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 24/100, elapsed time 0.34
[IterativeImputer] Change: 2.1432306123170264e-06, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 25/100, elapsed time 0.35
[IterativeImputer] Change: 1.1315252155252864e-06, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 26/100, elapsed time 0.36
[IterativeImputer] Change: 5.973925196745e-07, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 27/100, elapsed time 0.37
[IterativeImputer] Change: 3.1539551392789633e-07, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 28/100, elapsed time 0.38
[IterativeImputer] Change: 1.6651420131630346e-07, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 29/100, elapsed time 0.39
[IterativeImputer] Change: 8.791189198831262e-08, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 30/100, elapsed time 0.41
[IterativeImputer] Change: 4.64134610744793e-08, scaled tolerance: 4.27e-08
[IterativeImputer] Ending imputation round 31/100, elapsed time 0.44
[IterativeImputer] Change: 2.450422553756937e-08, scaled tolerance: 4.27e-08
[IterativeImputer] Early stopping criterion reached.

In [40]:
dl1=pd.DataFrame(df2,columns=('sg','bgr','sc','hemo','pcv','rbcc'))

In [41]:
dl1.head(20)

          sg    bgr     sc       hemo        pcv   rbcc
0   1.020000  110.0  3.600  11.950000  35.450000  4.755
1   1.010000  133.0  3.600  11.950000  35.450000  4.755
2   1.010000  110.0  3.600   9.350000  31.550000  4.755
3   1.010000  133.0  3.600  14.550000  43.250000  4.755
4   1.016000  175.0  3.600  14.550000  39.350000  5.345
5   1.023000  110.0  3.600  13.414756  41.860158  5.345
6   1.020000  110.0  3.600  10.650000  31.550000  3.575
7   1.020000  133.0  3.600  11.950000  39.350000  4.755
8   1.017351  133.0  3.600  14.550000  39.350000  5.345
9   1.010000  110.0  3.600   8.050000  23.750000  4.165
10  1.020440  110.0  3.600  13.250000  43.250000  6.525
11  1.018097  133.0  3.600  15.850000  47.150000  5.345
12  1.020000  110.0  3.600  11.950000  39.350000  6.525
13  1.016000  427.0  3.600  11.950000  43.250000  4.755
14  1.016520  133.0  3.600  15.850000  43.250000  4.755
15  1.020000  110.0  3.600  13.250000  47.150000  4.755
16  1.020000  133.0  3.600  15.850000  39.350000  5.345
17  1.020000  110.0  5.225  11.950000  39.350000  4.755
18  1.020000  133.0  3.600  11.950000  43.250000  6.525
19  1.020000  133.0  3.600  14.550000  43.250000  5.345

In [42]:
df3=data.drop(columns=['sg','bgr','sc','hemo','pcv','rbcc','Label'])

In [43]:
df3

     rbc  htn  dm
0      0    0   0
1      0    0   0
2      1    0   0
3      0    0   0
4      0    0   1
..   ...  ...  ..
195    0    1   1
196    0    0   1
197    0    0   0
198    0    0   0
199    0    1   1

[200 rows x 3 columns]

In [44]:
x=pd.concat([dl1,df3],axis=1)

In [45]:
x

           sg    bgr   sc   hemo    pcv   rbcc  rbc  htn  dm
0    1.020000  110.0  3.6  11.95  35.45  4.755    0    0   0
1    1.010000  133.0  3.6  11.95  35.45  4.755    0    0   0
2    1.010000  110.0  3.6   9.35  31.55  4.755    1    0   0
3    1.010000  133.0  3.6  14.55  43.25  4.755    0    0   0
4    1.016000  175.0  3.6  14.55  39.35  5.345    0    0   1
..        ...    ...  ...    ...    ...    ...  ...  ...  ..
195  1.020000  175.0  3.6   9.35  31.55  4.755    0    1   1
196  1.020000  133.0  3.6   8.05  23.75  4.755    0    0   1
197  1.019508  110.0  3.6  15.85  39.35  6.525    0    0   0
198  1.017229  133.0  3.6  14.55  47.15  4.755    0    0   0
199  1.010000  133.0  3.6  13.25  39.35  4.165    0    1   1

[200 rows x 9 columns]

In [46]:
y=df['Label']

In [47]:
a=pd.concat([x,y],axis=1)

In [48]:
a

           sg    bgr   sc   hemo    pcv   rbcc  rbc  htn  dm   Label
0    1.020000  110.0  3.6  11.95  35.45  4.755    0    0   0     ckd
1    1.010000  133.0  3.6  11.95  35.45  4.755    0    0   0     ckd
2    1.010000  110.0  3.6   9.35  31.55  4.755    1    0   0     ckd
3    1.010000  133.0  3.6  14.55  43.25  4.755    0    0   0     ckd
4    1.016000  175.0  3.6  14.55  39.35  5.345    0    0   1     ckd
..        ...    ...  ...    ...    ...    ...  ...  ...  ..     ...
195  1.020000  175.0  3.6   9.35  31.55  4.755    0    1   1     ckd
196  1.020000  133.0  3.6   8.05  23.75  4.755    0    0   1     ckd
197  1.019508  110.0  3.6  15.85  39.35  6.525    0    0   0  notckd
198  1.017229  133.0  3.6  14.55  47.15  4.755    0    0   0  notckd
199  1.010000  133.0  3.6  13.25  39.35  4.165    0    1   1     ckd

[200 rows x 10 columns]

In [49]:
#a=a.sort_values(['bu'],ascending=False)
#a.reset_index(drop=True,inplace=True)

In [50]:
#a.tail(40)

In [55]:
Label={'notckd':0,'ckd':1}
a['Label']=a['Label'].map(Label)

In [56]:
a.head(20)

          sg    bgr     sc       hemo        pcv   rbcc  rbc  htn  dm  Label
0   1.020000  110.0  3.600  11.950000  35.450000  4.755    0    0   0      1
1   1.010000  133.0  3.600  11.950000  35.450000  4.755    0    0   0      1
2   1.010000  110.0  3.600   9.350000  31.550000  4.755    1    0   0      1
3   1.010000  133.0  3.600  14.550000  43.250000  4.755    0    0   0      1
4   1.016000  175.0  3.600  14.550000  39.350000  5.345    0    0   1      1
5   1.023000  110.0  3.600  13.414756  41.860158  5.345    0    0   0      0
6   1.020000  110.0  3.600  10.650000  31.550000  3.575    0    1   1      1
7   1.020000  133.0  3.600  11.950000  39.350000  4.755    0    0   0      1
8   1.017351  133.0  3.600  14.550000  39.350000  5.345    0    0   0      0
9   1.010000  110.0  3.600   8.050000  23.750000  4.165    0    0   0      1
10  1.020440  110.0  3.600  13.250000  43.250000  6.525    0    0   0      0
11  1.018097  133.0  3.600  15.850000  47.150000  5.345    0    0   0      0
12  1.020000  110.0  3.600  11.950000  39.350000  6.525    0    0   0      0
13  1.016000  427.0  3.600  11.950000  43.250000  4.755    0    0   1      1
14  1.016520  133.0  3.600  15.850000  43.250000  4.755    0    0   0      0
15  1.020000  110.0  3.600  13.250000  47.150000  4.755    0    0   0      0
16  1.020000  133.0  3.600  15.850000  39.350000  5.345    0    0   0      0
17  1.020000  110.0  5.225  11.950000  39.350000  4.755    0    0   0      1
18  1.020000  133.0  3.600  11.950000  43.250000  6.525    0    0   0      0
19  1.020000  133.0  3.600  14.550000  43.250000  5.345    0    0   0      0

In [59]:
u=a.iloc[:,:-1]
v=a['Label']

# SMOTE Technique

In [60]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import SVMSMOTE

In [61]:
smote=SMOTE()
sm = SVMSMOTE()

In [62]:
x_train_resample,y_train_resample=sm.fit_resample(u,v)

In [63]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
k=scaler.fit_transform(x_train_resample)

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(k,y_train_resample,test_size=0.2, random_state=0)

In [65]:
from sklearn.model_selection import ShuffleSplit
fold=ShuffleSplit(n_splits=5, test_size=0.1, random_state=0)
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV

# Support Vector Machine

In [66]:
from sklearn.svm import SVC
svm=SVC()
param_grid={'C':[0.1,1,10,100],'gamma':['scale'],'kernel':['rbf']}
svm_randomgrid=RandomizedSearchCV(estimator=svm,param_distributions=param_grid,verbose=1,n_jobs=-1,cv=fold)
svm_randomgrid.fit(x_train,y_train)
svm_randomgrid.best_estimator_, svm_randomgrid.best_score_

C:\Users\Md.Mustafizur Rahman\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 4 is smaller than n_iter=10. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 4 candidates, totalling 20 fits

(SVC(C=100), 1.0)

# K-Nearest Neighbors

In [67]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
param_grid={'n_neighbors':range(1, 21, 2),
            'weights':['uniform', 'distance'],
            'metric':['euclidean', 'manhattan', 'minkowski']}
knn_randomgrid=RandomizedSearchCV(estimator=knn,param_distributions=param_grid,verbose=4,n_jobs=6,cv=fold)
knn_randomgrid.fit(x_train,y_train)
knn_randomgrid.best_params_, knn_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

({'weights': 'distance', 'n_neighbors': 1, 'metric': 'euclidean'}, 1.0)

# Gradient Boosting

In [68]:
from sklearn.ensemble import GradientBoostingClassifier
gdb=GradientBoostingClassifier()
param_grid={'learning_rate':[0.01,0.05,0.1],
            'n_estimators':[100,200,300,400,500],
            'max_depth':[2,3,4,5,6,7,8],
            'min_samples_leaf':[4,8,10]}
gdb_randomgrid=RandomizedSearchCV(estimator=gdb,param_distributions=param_grid,verbose=1,n_jobs=-1,cv=fold)
gdb_randomgrid.fit(x_train,y_train)
gdb_randomgrid.best_params_, gdb_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

({'n_estimators': 300,
  'min_samples_leaf': 8,
  'max_depth': 2,
  'learning_rate': 0.05},
 0.9904761904761905)

# LightGBM

In [69]:
from lightgbm import LGBMClassifier
lgb=LGBMClassifier()
param_grid={'learning_rate':[0.05,0.1],
            'n_estimators':[100,200,300,400,500],
            'max_depth':[2,3,4,5,6,7,8,9,10],
            'min_child_weight':[1,3,5,7,9]}
lgb_randomgrid=RandomizedSearchCV(estimator=lgb,param_distributions=param_grid,verbose=True,n_jobs=4,cv=fold)
lgb_randomgrid.fit(x_train,y_train)
lgb_randomgrid.best_params_, lgb_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

({'n_estimators': 200,
  'min_child_weight': 1,
  'max_depth': 9,
  'learning_rate': 0.05},
 0.9904761904761905)

# XgBoost

In [70]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
param_grid={'learning_rate':[0.05,0.1,0.15,0.2,0.25],
            'n_estimators':[100,200,300,400,500,600,700],
            'max_depth':[2,3,4,5,6,7,8,9,10],
            'min_child_weight':[1,2,3,4,5,6,7,8,9],
            'eval_metric':['error']}
xgb_randomgrid=RandomizedSearchCV(estimator=xgb,param_distributions=param_grid,verbose=True,n_jobs=4,cv=fold)
xgb_randomgrid.fit(x_train,y_train)
xgb_randomgrid.best_params_, xgb_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\Md.Mustafizur Rahman\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

({'n_estimators': 700,
  'min_child_weight': 1,
  'max_depth': 2,
  'learning_rate': 0.15,
  'eval_metric': 'error'},
 0.9904761904761905)